{% extends 'base.html' %} {% block content %}

<div class="jumbotron about text-center">
  <h1>About</h1>
  <p>
    Driver drowsiness detection project detects whether eyes are close or open
    using Convolutional Neural Network. <br />You can use model built within the
    application or you can use api
    'https://driver-nidra-detection.herokuapp.com/'.
  </p>
  <br /><br /><br />
  <h3>Library and Framework</h3>
  <ul class="list-inline">
    <li class="list-inline-item">openCV</li>
    <li class="list-inline-item">Django</li>
    <li class="list-inline-item">Tensorflow - Keras</li>
    <li class="list-inline-item">Heroku</li>
    <li class="list-inline-item">Flask</li>
  </ul>
</div>

{% endblock %}
